/*-----------------------------------------
	
	NAVIGATION

-----------------------------------------*/
.navbar-nav ul li.active {
color: #a168d5;
}


/*-----------------------------------------
	
	HEADER

-----------------------------------------*/
div#home-page-header {
height: 400px;
text-shadow: 2px 2px #000;
text-align: center;
background-image: url(http://localhost:8888/potential-dubstep/includes/images/galaxy.jpg);
background-position: center center;
}

div#home-page-header h1 {
text-shadow: 1px 1px 1px #000;
}



/*-----------------------------------------
	
	CONTENT

-----------------------------------------*/
div#page-content-area {
padding: 30px 0 50px 0;
border-bottom: 1px solid rgba(0,0,0,0.2);
}


/*-----------------------------------------
	
	FOOTER

-----------------------------------------*/
div#footer-area {
height: 100px;
padding: 30px 0;
text-align: center;
border-top: 1px solid rgba(255,255,255,0.1);
}

